@charset "utf-8";
/* CSS Document */



header {
    width: 100%;
    height: 220px;
    background-image: url("images/bg-header.png");
    background-size: 100% 257px;
    margin: 0;
    padding: 0;
}


li {
    display: inline-flex;
    margin-right: 5px;
    margin-left: 5px;
}

.divlogo {
    float: left;
    width: 18%;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 100px;
    padding-bottom: 0;
}



.divmenu {
    float: right;
    color: white;
    padding-top: 80px;
    padding-right: 100px;
	text-transform: uppercase
}

a {color: white}

 .caixa-texto-1 {
    float: left;
    
    width: 400px;
	max-height: 300px;
} 
   

.bloco1 {
    height: 800px;
    background-image: url("images/bg-bloco-1.png");
	background-size: 100%;
}

.foto-bloco-1 {
    width: 30%;
    margin: 10% 10% 0 0;
    float: right;
}

.texto-bloco-1 {
}

.titulo-bloco-1 {
    /* [disabled]max-width: 78%; */
    margin-bottom: 15%;
}
